{% extends "bootstrap/base.html" %}
{% block title %} Exemplo - Form 04 {% endblock %}
{% block content %}
<table class="table" border = 1>
   <thead>
      <td>Nome</td>
      <td>Sobrenome</td>
      <td>Telefone</td>
      <td>Email</td>
   </thead>
   <tbody>
   {% for row in rows %}
      <tr>
       <td>{{ row.NOME }}</td>
       <td>{{ row.SOBRENOME }}</td>
       <td>{{ row.TELEFONE }}</td>
       <td>{{ row.EMAIL }}</td>	
      </tr>
   {% endfor %}
    </tbody>
</table>

<a href="http://127.0.0.1:5000/alunos">Ver Lista Completa</a>

{% endblock %}