{% extends "bootstrap/base.html" %}
{% block title %} Exemplo - Form 04 {% endblock %}
{% block content %}
<table class="table" border = 1>
    <thead>
       <td>Id</td>
       <td>Nome</td>
       <td>Sobrenome</td>
       <td>Telefone</td>
       <td>Email</td>
    </thead>
    <tbody>
    {% for row in rows %}
       <tr>
          <td>{{row["id"]}}</td>
          <td>{{row["nome"]}}</td>
          <td>{{row["sobrenome"]}}</td>
          <td> {{row["telefone"]}}</td>
          <td>{{row['email']}}</td>	
       </tr>
    {% endfor %}
     </tbody>
 </table>
{% endblock %}